In [1]:
import sys
!conda install --yes --prefix {sys.prefix} seaborn

Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /srv/conda:

The following NEW packages will be INSTALLED:

    cycler:           0.10.0-py_1           conda-forge
    dbus:             1.13.0-h3a4f0e9_0     conda-forge
    expat:            2.2.5-hfc679d8_1      conda-forge
    fontconfig:       2.12.6-0              conda-forge
    freetype:         2.8.1-0               conda-forge
    gettext:          0.19.8.1-0            conda-forge
    glib:             2.55.0-0              conda-forge
    gst-plugins-base: 1.8.0-0               conda-forge
    gstreamer:        1.8.0-1               conda-forge
    icu:              58.2-hfc679d8_0       conda-forge
    intel-openmp:     2018.0.3-0            defaults
    jpeg:             9c-h470a237_0         conda-forge
    kiwisolver:       1.0.1-py36_1          conda-forge
    libgfortran-ng:   7.2.0-hdf63c60_3      defaults
    libiconv:         1.15-h470a237_1       conda-forge
    libopenblas:      0.2.20-h9ac9557_7     defaults
    libpng:           1.6.34-ha92aebf_1     conda-forge
    libxcb:           1.13-h470a237_1       conda-forge
    libxml2:          2.9.8-h422b904_2      conda-forge
    matplotlib:       2.2.2-py36_1          conda-forge
    mkl:              2018.0.3-1            defaults
    numpy:            1.14.3-py36h28100ab_2 defaults
    numpy-base:       1.14.3-py36h0ea5e3f_1 defaults
    pandas:           0.23.3-py36_0         conda-forge
    patsy:            0.5.0-py_1            conda-forge
    pcre:             8.41-1                conda-forge
    pthread-stubs:    0.4-h470a237_1        conda-forge
    pyparsing:        2.2.0-py_1            conda-forge
    pyqt:             5.6.0-py36h8210e8a_6  conda-forge
    pytz:             2018.5-py_0           conda-forge
    qt:               5.6.2-7               conda-forge
    scipy:            1.1.0-py36hfc37229_0  defaults
    seaborn:          0.9.0-py_0            conda-forge
    sip:              4.18-py36_1           conda-forge
    statsmodels:      0.9.0-py36_0          conda-forge
    xorg-libxau:      1.0.8-h470a237_5      conda-forge
    xorg-libxdmcp:    1.1.2-h470a237_6      conda-forge

gettext-0.19.8 100% |################################| Time: 0:00:01   6.00 MB/s
intel-openmp-2 100% |################################| Time: 0:00:00   8.02 MB/s
libgfortran-ng 100% |################################| Time: 0:00:00  15.07 MB/s
pcre-8.41-1.ta 100% |################################| Time: 0:00:00  22.53 MB/s
expat-2.2.5-hf 100% |################################| Time: 0:00:00  43.04 MB/s
icu-58.2-hfc67 100% |################################| Time: 0:00:00  31.72 MB/s
jpeg-9c-h470a2 100% |################################| Time: 0:00:00  45.81 MB/s
libiconv-1.15- 100% |################################| Time: 0:00:00  50.87 MB/s
libopenblas-0. 100% |################################| Time: 0:00:00  33.82 MB/s
libpng-1.6.34- 100% |################################| Time: 0:00:00  49.54 MB/s
mkl-2018.0.3-1 100% |################################| Time: 0:00:06  32.27 MB/s
pthread-stubs- 100% |################################| Time: 0:00:00   5.34 MB/s
xorg-libxau-1. 100% |################################| Time: 0:00:00  12.33 MB/s
xorg-libxdmcp- 100% |################################| Time: 0:00:00 635.24 kB/s
dbus-1.13.0-h3 100% |################################| Time: 0:00:00   1.46 MB/s
freetype-2.8.1 100% |################################| Time: 0:00:00   3.89 MB/s
glib-2.55.0-0. 100% |################################| Time: 0:00:01   5.25 MB/s
libxcb-1.13-h4 100% |################################| Time: 0:00:00   7.37 MB/s
libxml2-2.9.8- 100% |################################| Time: 0:00:00   5.69 MB/s
fontconfig-2.1 100% |################################| Time: 0:00:00   5.73 MB/s
gstreamer-1.8. 100% |################################| Time: 0:00:00   5.68 MB/s
gst-plugins-ba 100% |################################| Time: 0:00:00   5.77 MB/s
kiwisolver-1.0 100% |################################| Time: 0:00:00   5.64 MB/s
numpy-base-1.1 100% |################################| Time: 0:00:00  44.03 MB/s
pyparsing-2.2. 100% |################################| Time: 0:00:00  28.57 MB/s
pytz-2018.5-py 100% |################################| Time: 0:00:00   6.98 MB/s
sip-4.18-py36_ 100% |################################| Time: 0:00:00   9.02 MB/s
cycler-0.10.0- 100% |################################| Time: 0:00:00   9.68 MB/s
numpy-1.14.3-p 100% |################################| Time: 0:00:00  20.75 MB/s
qt-5.6.2-7.tar 100% |################################| Time: 0:00:06   7.17 MB/s
pandas-0.23.3- 100% |################################| Time: 0:00:03   7.52 MB/s
pyqt-5.6.0-py3 100% |################################| Time: 0:00:00   8.70 MB/s
scipy-1.1.0-py 100% |################################| Time: 0:00:00  40.75 MB/s
matplotlib-2.2 100% |################################| Time: 0:00:01   6.86 MB/s
patsy-0.5.0-py 100% |################################| Time: 0:00:00   6.63 MB/s
statsmodels-0. 100% |################################| Time: 0:00:02   6.50 MB/s
seaborn-0.9.0- 100% |################################| Time: 0:00:00  42.08 MB/s

In [2]:
import math
import numpy as np
import pandas as pd
from pandas import DataFrame
df =pd.read_csv("content_train.tsv", sep="\t",index_col='customer.id')
#print(df)
df.iloc[:,0:26]

,content_1,content_2,content_3,content_4,content_5,content_6,content_7,content_8,content_9,express.no.transactions,...,extra.total.spend,fandf.no.transactions,fandf.total.spend,petrol.no.transactions,petrol.total.spend,direct.no.transactions,direct.total.spend,gender,affluency,county
customer.id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,44,...,634.11,14,76.12,32,753.12,10,617.47,Female,Mid,Surrey
2,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,49,...,679.78,13,142.74,28,37.86,51,2787.49,Female,Mid,Greater Manchester
3,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,0.0,44,...,282.90,7,672.12,55,563.12,4,444.34,Female,Low,Greater Manchester
4,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,29,...,5954.89,49,2394.10,56,912.70,24,5859.31,Male,Mid,Brighton & Hove
5,0.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,38,...,3170.40,27,651.36,52,925.30,17,433.57,Female,Low,Norfolk
6,0.0,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,28,...,204.80,63,1847.33,45,184.21,26,1461.01,Male,Very Low,West Yorkshire
7,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,28,...,446.43,16,220.39,3,181.85,38,9904.18,Female,High,Merseyside
8,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,47,...,14829.60,18,2173.71,25,376.18,58,12781.38,Male,High,Tyne and Wear
9,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,61,...,55.64,64,2314.87,35,4.95,43,994.63,Female,Low,South Yorkshire
10,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,56,...,573.02,0,0.00,0,0.00,32,3342.85,Female,Very High,County Durham
11,0.0,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,29,...,8386.47,23,2.28,19,327.66,26,1436.20,Female,Mid,Essex
12,1.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN,0.0,28,...,687.44,48,702.18,55,140.50,0,0.00,Male,Mid,West Sussex
13,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,78,...,5071.96,30,3245.70,21,19.01,27,364.10,Male,Mid,Derbyshire
14,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,32,...,14.09,46,756.06,7,259.38,35,133.37,Male,Mid,Greater Manchester
15,NaN,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,33,...,2471.87,29,1024.61,26,699.87,54,4819.60,Male,Mid,Northamptonshire
16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,6,...,523.67,22,1526.93,85,4076.06,39,441.23,Female,Mid,Leicestershire
17,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN,0.0,54,...,5160.10,36,958.01,34,20.65,24,468.64,Male,Mid,Greater Manchester
18,0.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,46,...,118.57,20,381.27,8,125.57,41,2066.62,Male,Mid,Hull
19,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,60,...,138.92,16,12.72,0,0.00,0,0.00,Male,Mid,Oxfordshire
20,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,81,...,308.15,24,1435.04,31,1114.04,27,3234.14,Female,Mid,Worcestershire
21,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,56,...,2414.41,43,2146.05,45,324.55,42,1305.12,Female,Mid,Greater London
22,NaN,NaN,0.0,0.0,NaN,0.0,NaN,0.0,NaN,55,...,327.02,31,1583.85,46,1019.94,25,717.12,Male,Mid,Greater London
23,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,15,...,643.94,13,197.21,56,1041.60,20,68.16,Female,Mid,Lancashire
24,0.0,NaN,NaN,0.0,0.0,NaN,0.0,0.0,0.0,49,...,1550.67,24,370.57,20,200.70,37,2194.65,Female,Mid,Warwickshire
25,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,51,...,11518.61,7,1302.27,36,1346.91,15,859.42,Male,Low,Hertfordshire
26,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,31,...,686.10,3,37.32,32,64.67,33,9037.40,Male,Mid,County Durham
27,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,46,...,221.13,42,1410.73,40,247.86,11,287.75,Female,Mid,Greater London
28,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,64,...,838.93,2,93.12,0,0.00,67,14884.16,Male,Mid,Plymouth
29,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,NaN,72,...,2362.97,45,4914.34,0,0.00,47,3690.15,Male,Mid,Greater London
30,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,59,...,2715.87,43,1314.12,34,946.84,39,1243.56,Male,Mid,West Midlands
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99971,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,43,...,4033.25,8,432.86,39,850.77,31,3944.95,Female,Mid,Lancashire
99972,NaN,0.0,NaN,NaN,0.0,0.0,NaN,0.0,0.0,51,...,21.63,18,952.52,44,4310.93,33,507.10,Male,Mid,Cheshire West and Chester
99973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,59,...,4848.00,71,348.35,14,337.91,41,4219.34,Male,Low,Greater London
99974,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,47,...,2454.49,24,825.46,59,1334.44,22,1080.63,Male,Mid,South Gloucestershire
99975,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,40,...,2486.19,52,1661.95,21,470.60,58,1428.68,Female,Low,West Yorkshire
99976,NaN,0.0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,59,...,1273.95,19,70.82,54,866.97,52,839.35,Male,High,Norfolk
99977,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,72,...,1295.19,27,4820.33,35,70.00,7,622.88,Male,Mid,South Yorkshire
99978,NaN,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,56,...,11233.46,48,1803.91,34,25.15,23,560.82,Female,Mid,East Sussex
99979,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,60,...,2451.03,38,325.18,60,13510.06,27,656.34,Male,High,Wiltshire
99980,0.0,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,48,...,587.86,43,982.26,68,2794.04,7,9.14,Female,Low,Greater London
99981,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,61,...,191.27,29,425.71,19,281.86,64,18127.89,Male,Mid,Greater London
99982,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,47,...,2092.01,42,529.56,31,507.35,5,224.79,Male,Mid,Warwickshire
99983,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,34,...,1502.91,36,1939.09,18,260.86,56,464.57,Female,Mid,Greater London
99984,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,28,...,857.39,1,40.37,40,367.45,0,0.00,Male,Low,Derbyshire
99985,0.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,45,...,1050.54,37,288.77,61,1993.93,32,2293.16,Female,Mid,Nottinghamshire
99986,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,80,...,3701.68,53,3836.65,36,792.44,46,18852.22,Male,Mid,West Midlands
99987,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,30,...,807.28,27,649.68,14,419.78,48,2501.55,Male,Low,Greater London
99988,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,48,...,5867.39,55,675.04,20,525.93,24,302.88,Male,Very Low,Northumberland
99989,NaN,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,21,...,2717.48,29,538.13,12,97.81,25,347.78,Male,Low,Essex
99990,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,56,...,343.48,26,304.07,40,1491.13,28,2583.92,Male,Low,Hertfordshire
99991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,9,...,1515.59,31,522.71,47,1691.78,24,754.93,Female,Mid,Lancashire
99992,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,0.0,71,...,1315.28,0,0.00,53,401.02,42,4295.98,Male,High,Greater London
99993,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,58,...,2760.22,33,1361.44,46,223.42,20,774.88,Female,Mid,Central Bedfordshire
99994,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,29,...,2373.13,40,2708.04,27,86.61,20,1166.82,Female,Low,East Sussex
99995,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,33,...,3014.02,22,104.00,49,952.09,8,107.49,Female,Very Low,Central Bedfordshire
99996,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,NaN,59,...,2877.54,0,0.00,43,1737.27,15,404.02,Female,Mid,Stockton-on-Tees
99997,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,0.0,58,...,2248.83,14,185.48,0,0.00,69,696.78,Female,Mid,Surrey
99998,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,35,...,1780.74,18,137.22,39,963.00,21,735.30,Female,Very Low,West Midlands
99999,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,49,...,11150.85,2,33.92,62,904.94,9,1674.08,Male,Mid,Greater London
100000,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,33,...,995.60,18,399.86,23,991.83,53,2126.62,Female,Low,Derbyshire